body{
	background-color: black;
	color: white;
	overflow: hidden;
	font-size: 2em;
	font-family: 'Inconsolata', monospace;
}
.row div{
	text-align: center;
	border: 1px white solid;
	border-radius: 10px;
}
